/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 mars 2019, 19:32:55
    Author     : Manu
*/

/*----------------------------------------------------------------------------*/
/*-------------------------- Variables Declaration ---------------------------*/
/*----------------------------------------------------------------------------*/

:root {
    /* Define main colors */
    --main-darkgrey: #121212;
    --main-grey: #1d1d1d;
    --main-lightgrey: #2d2d2d;
    --main-lightergrey: #9e9e9e;
    /* Define main global properties */
    --main-font-size: 1.5rem;
    --main-border-radius: 2rem;
    --main-police-color-light: #d5d5d5;
    --main-police-color-dark: #111111;
    /* Define color for the stripe effect in table */
    --color-stripe-odd: #363636;
    --color-stripe-even: #757575;
}

/*----------------------------------------------------------------------------*/
/*-------------------------------- Reset CSS ---------------------------------*/
/*----------------------------------------------------------------------------*/

/* Reset font-size for 1rem = 10px */
html {
    font-size: 62.5%;
    box-sizing: border-box !important;
}

/* Applying the property box-sizing on all the DOM elements */
*,
*::before,
*::after {
  box-sizing: inherit !important;
}

/* Define the main font-size with the matching css variable defined in root, if not defined, using 1.5rem as default */
body {
    font-size: var(--main-font-size, 1.5rem);
}

/* Remove the default behavior of the browser for an invalid input */
input:invalid {
    box-shadow: none;
}

/* Define the main font-size with the matching css variable defined in root, if not defined, using 1.5rem as default */
.btn {
    font-size: var(--main-font-size, 1.5rem);
}

/* Define the main font-size with the matching css variable defined in root, if not defined, using 1.5rem as default */
.form-control {
    font-size: var(--main-font-size, 1.5rem);
}

/*----------------------------------------------------------------------------*/
/*--------------------------------- GLOBAL -----------------------------------*/
/*----------------------------------------------------------------------------*/

html, body {
    font-family: 'Sansita', 'Trebuchet MS', sans-serif;
}

body {
    background-color: var(--main-darkgrey);
    background-attachment: fixed;
}

#global {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-darkgrey);
    color: var(--main-police-color-light);
}

#global > *:not(main) {
    flex: 0 1 auto;
}

main {
    flex: 1 1 auto;
}

#navigationMenu {
    background-color: var(--main-grey) !important;
    height: 7rem;
}

a, a:hover {
    color: var(--main-police-color-light);
    text-decoration: none;
}

p{
    font-family: 'Sansita', sans-serif;
}

h1, h2, h3, h4, h5, h6 {    
    font-family: 'Dancing Script', cursive;
    margin: 0;
}

i {
    margin-right: 0.5rem;
}

#logo {
    width: 50px;
}

#footer {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.tooltip {
    font-size: var(--main-font-size);
}

/*----------------------------------------------------------------------------*/
/*-------------------------- Home Page ---------------------------------------*/
/*----------------------------------------------------------------------------*/

#accueil > div:first-of-type {
    background-image: url(../images/accueil.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: black;
    width: 100vw;
    max-width: 100%; /* Using poucentage here because of the scrollbar trouble */
    height: 100vh;
    -webkit-animation: bgblur 7s ease-in-out 2S 1 alternate forwards;
}

#accueil p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    font-size: 13vw;
    -webkit-animation: blackblur 7s ease-in-out 2S 1 alternate forwards;
}

#accueil .arrow {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
    -webkit-animation: showvisibility 1s forwards, showopacity 5s ease-in-out 10s 1 forwards;
}

#accueil .arrow:hover span{    
    -webkit-animation-play-state: paused;
}

#accueil .arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid rgb(250, 240, 251);
    border-right: 5px solid rgb(250, 240, 251);
    transform: rotate(45deg);
    margin: -10px;
    animation: arrowdown 2.3s infinite;
    animation-delay: 9.4s;
}

#accueil .arrow span:nth-child(2) {
    animation-delay: 9.2s;
}

#accueil .arrow span:nth-child(3) {
    animation-delay: 9s;
}

@-webkit-keyframes arrowdown {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

@-webkit-keyframes showvisibility {
    from { visibility: hidden;  }
    to   { visibility: visible; }
}

@-webkit-keyframes showopacity {
    from { opacity: 0;     }
    to   { opacity: 1;   }
}

@-webkit-keyframes blackblur {
  from { text-shadow: 0 0 50vw rgb(250, 240, 251, 0.9); color: transparent;         }
  to   { text-shadow: 0 0 5vw rgb(250, 240, 251, 0.3);  color: rgb(250, 240, 251);  }
}

@-webkit-keyframes bgblur {
  from { filter: blur(0px); }
  to   { filter: blur(3px); }
}

#recipeCards {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5vw;
}

#recipeCards h2 {
    display: block;
    border-radius: var(--main-border-radius);
    box-shadow: 1rem 1rem 2rem rgb(0, 0, 0);
    color: whitesmoke;
    background-color: var(--main-lightgrey);
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.articleInCardFormat {
    display: block;
    border-radius: var(--main-border-radius);
    box-shadow: 1rem 1rem 2rem rgb(0, 0, 0);
    background-color: var(--main-grey);
}

.articleInCardFormat header {
    display: block;
    background-color: var(--main-lightgrey);
    border-radius: var(--main-border-radius) var(--main-border-radius) 0rem 0rem;
    padding: 2rem 5vw;
}

.articleInCardFormat header a h3 {
    display: block;
    text-align: center;
    font-size: 2.3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80vw;
    overflow: hidden;
}

.articleInCardFormat footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-lightgrey);
    border-radius: 0rem 0rem var(--main-border-radius) var(--main-border-radius);
    padding: 2rem 5vw;
}

.iconBox {
    background-color: var(--main-grey);
    border-radius: calc((var(--main-border-radius))/2);
    padding: 1.5rem;
    margin: 0.5rem;
}

.recipePictureDefault {
    background-image: url("../images/picture_coming_soon.jpg");    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    background-origin: content-box;
    min-height: 20rem;
    padding: 2rem;
}

.paginationRecipe {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.paginationRecipe li {
    display: inline-block;
    margin: 0.2rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 3rem;
}

.activePage {
    background-color: rgba(0, 0, 0, 0.5);
}

/*----------------------------------------------------------------------------*/
/*-------------------------- Recipe Page | Grid ------------------------------*/
/*----------------------------------------------------------------------------*/

.articleRecipe {
    display: grid;
    grid-template-columns: [header-start] 0 [picture-start] 0 [aside-start] 0 [ingredients-start] 0 [preparation-start] 1rem [controls-start] auto [controls-end] 1rem [ingredients-end] 0 [preparation-end] 0 [aside-end] 0 [picture-end] 0 [header-end];
    grid-template-rows: [header-start] 5rem [header-end] 0 [picture-start] auto  [picture-end] 0 [aside-start] max-content [aside-end] 0 [controls-start] 5rem [controls-end] 0 [ingredients-start] 0 [preparation-start] auto [ingredients-end] 0  [preparation-end];
    min-height: 100vh;
    max-width: 90vw;
    margin: auto;
    margin: 2rem auto 5rem auto;
}

.articleRecipe h1 {
    font-size: 2.5rem;
}

.articleRecipe header {
    grid-area: header;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.articleRecipe .recipePicture {
    grid-area: picture;
}

.articleRecipe aside {
    grid-area: aside;
    border-radius: var(--main-border-radius);
    padding: 1rem;
    border: 2px solid var(--main-darkgrey);
    background-color: var(--main-grey);
    box-shadow: 1rem 1rem 2rem rgb(0, 0, 0);
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.iconBoxDarker {
    background-color: var(--main-darkgrey);
    border-radius: calc((var(--main-border-radius))/2);
    padding: 1.5rem;
    margin: 0.5rem;
}

.recipeControls {
    grid-area: controls;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.articleRecipe .recipeIngredients {
    grid-area: ingredients;
    border-radius: var(--main-border-radius);
    padding: 2rem;
    z-index: 51;
    border: 2px solid var(--main-darkgrey);
    background-color: var(--main-grey);
    box-shadow: 1rem 1rem 2rem rgb(0, 0, 0);
}

.articleRecipe .recipePreparation {
    grid-area: preparation;
    border-radius: var(--main-border-radius);
    padding: 2rem;
    z-index: 50;
    border: 2px solid var(--main-darkgrey);
    background-color: var(--main-grey);
    box-shadow: 1rem 1rem 2rem rgb(0, 0, 0);
}

#tabIngredients {
    z-index: 52;
}

#tabPreparation {
    z-index: 50;
}

.recipeTabs {
    background-color: var(--main-lightgrey);
    padding: 1rem 3rem;
    border: 2px solid var(--main-darkgrey);
    border-radius: 2rem 2rem 0 0;
    border-bottom: none;
    box-shadow: 1rem 1rem 2rem rgb(0, 0, 0);
    clip-path: inset(-5rem -5rem -3px -5rem);
}

.activeTab {
    background-color: var(--main-grey);
    position: relative;
}

.activeTab:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 5px;
    background-color: var(--main-grey);
}

/* -------------------------------------------------------------------------- */
/* -------------------------- Modal login/signin ---------------------------- */
/* -------------------------------------------------------------------------- */

.modal-login {
        color: #636363;
        width: auto;
        justify-content: center;
}
.modal-login .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
}
.modal-login .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
}
.modal-login h2 {
        text-align: center;
        font-size: 2.5em;
}
.modal-login  .form-group {
        position: relative;
}
.modal-login i {
        position: absolute;
        left: 13px;
        top: 11px;
        font-size: 18px;
}
.modal-login .form-control {
        padding-left: 40px;
}
.modal-login .form-control:focus {
        border-color: #00ce81;
}
.modal-login .form-control, .modal-login .btn {
        min-height: 40px;
        border-radius: 3px; 
}
.modal-login .hint-text {
        text-align: center;
        padding-top: 10px;
}
.modal-login .close {
position: absolute;
        top: -5px;
        right: -5px;
}
.modal-login .btn {
        line-height: normal;
}
.modal-login .modal-footer {
        background: #ecf0f1;
        border-color: #dee4e7;
        text-align: center;
        margin: 0 -20px -20px;
        border-radius: 5px;
        font-size: 13px;
}
.modal-login .modal-footer a {
        color: #999;
}
.modal-footer {
    justify-content: space-around;
}
.modal-footer p {
    margin-bottom: 0px;
}

/* -------------------------------------------------------------------------- */
/* --------------------------- Error Form border ---------------------------- */
/* -------------------------------------------------------------------------- */

.errorFocus{
    border-color: red!important;
    box-shadow: 0 0 0 0.2rem rgba(255,0,0,.45)!important;
}

/* -------------------------------------------------------------------------- */
/* ----------------------- Message Success/Fail ----------------------------- */
/* -------------------------------------------------------------------------- */

#messageSuccess{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#messageFail{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}



/* -------------------------------------------------------------------------- */
/* -------------------------- Profile style  -------------------------------- */
/* -------------------------------------------------------------------------- */

h1 {
    text-align: center;
}

.panel {
    display: block;
    text-align: center;
    margin: auto;
}

#addRecipe {
    margin-bottom: 1rem;
}

#topRecipeTable, #bottomRecipeTable {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipes {
    width: 100% !important;
}

#listRecipes tr td i {
    margin: 0;
}

table.recipes{
    color: var(--main-police-color-light);
}

table.recipes thead {
    background-color: var(--main-grey);
    color: var(--main-police-color-light);
}

table.recipes tr td{
    word-break: break-all;
    vertical-align: sub;
}

table.recipes tr td a{
    color: var(--main-police-color-light);
}

/*------------ Reset the default margin of the p tag -------------------------*/
table.recipes tr td p{
    margin-bottom: 0px;
}
/*----------------------------------------------------------------------------*/

/*------------ Stripe the rows of the table ----------------------------------*/
table.table-stripped tbody tr:nth-of-type(odd){
    background-color: var(--color-stripe-odd);
}

table.table-stripped tbody tr:nth-of-type(even){
    background-color: var(--color-stripe-even);
}
/*----------------------------------------------------------------------------*/

/*------------ Highlight the hovered row & column (column via js) ------------*/
table.dataTable.hover tbody tr:hover {
    background-color: var(--main-lightergrey) !important;
    color: var(--main-police-color-dark) !important;
}

table.dataTable.hover tbody tr:hover td a {
    color: var(--main-police-color-dark) !important;
    background-color: var(--main-lightergrey) !important;
}

table.dataTable tbody tr td:hover {
    --shadow-inset: 0rem 0rem 0.5rem 0.3rem var(--main-grey) inset;
    box-shadow: var(--shadow-inset);
}

/* Overwriting the dataTable attributes */
#recipes > tbody > tr.child:hover {
    color: var(--main-police-color-dark) !important;
    background-color: var(--main-lightergrey) !important;
}
/*----------------------------------------------------------------------------*/

/*------------ Set the form to an inline block -------------------------------*/
.deleteRecipe {
    display: inline-block;
}
/*----------------------------------------------------------------------------*/

/* -------------------------------------------------------------------------- */
/* -------------------------- Modal new recipe ------------------------------ */
/* -------------------------------------------------------------------------- */

.modal-recipe {
        color: #636363;
        width: auto;
        justify-content: center;
}
.modal-recipe .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
}
.modal-recipe .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
}
.modal-recipe h4 {
        text-align: center;
        font-size: 2.5em;
}
.modal-recipe  .form-group {
        position: relative;
}
#recipeForm .form-title i {
        position: absolute;
        left: 13px;
        top: 11px;
        font-size: 18px;
}
.modal-recipe .form-control {
        padding-left: 40px;
}
.modal-recipe .form-control:focus {
        border-color: #00ce81;
}
.modal-recipe .form-control, .modal-recipe .btn {
        min-height: 40px;
        border-radius: 3px; 
}
.modal-recipe .hint-text {
        text-align: center;
        padding-top: 10px;
}
.modal-recipe .close {
position: absolute;
        top: -5px;
        right: -5px;
}
.modal-recipe .btn {
        line-height: normal;
}
.modal-recipe .modal-footer {
        background: #ecf0f1;
        border-color: #dee4e7;
        text-align: center;
        margin: 0 -20px -20px;
        border-radius: 5px;
        font-size: 13px;
}
.modal-recipe .modal-footer a {
        color: #999;
}

.modal-recipe fieldset {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 10px double;
    border-radius: 10px;
}

.modal-recipe-fieldset-innerwrapper {
    display: flex;
    flex-direction: column;
}

.modal-recipe-legend {
    width: auto;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-footer {
    justify-content: space-around;
}

.modal-footer p {
    margin-bottom: 0px;
}

/* -------------------------------------------------------------------------- */
/* ----------------------------- Button Custom ------------------------------ */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/* ----------------------------- Media Queries ------------------------------ */
/* -------------------------------------------------------------------------- */

@media only screen and (max-width: 575px){
    #loginState {
        background-color: var(--main-grey);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        max-width: max-content;
        margin-left: auto;
        border-radius: 0 0 2rem 2rem;
        padding: 2rem;
    }
    
    #loginState li {
        margin: 0.8rem 0;
    }
    
    #loginState .btn {
        margin-right: 0 !important;
    }
}